{% block head %}

<title>Accessibility Web Application</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Accessibility Tool </h1>

    <div class="form">
        <form action="/scanurl" method="POST">
            <label for="operation">Please choose the criteria that you want to run accessibility Scan</label>

<select id="operation" name="operation" required>
  <option value="1">1. Non-Text Content</option>
  <option value="2">2. Info and Relationship</option>
  <option value="3">3. Audio Control</option>
  <option value="4">4. Meaningful Sequence</option>
  <option value="5">5. Headings and Labels</option>
  <option value="6">6. Keyboard</option>
  <option value="7">7. Status Messages</option>
  <option value="8">8. Color Issues</option>
  <option value="9">9. Name,Role,Value</option>
  <option value="10">10. Identify Input Purpose</option> 
  <option value="11">11. parsing</option>
  <option value="12">12. Timing Adjustable</option>
  <option value="13">13. On Focus</option>
  <option value="14">14. Pause Stop Hide</option>
  <option value="15">15. Link Purpose</option>
  <option value="16">16. Bypass Blocks</option>
  <option value="17">17. Language Of parts</option>
  <option value="18">18. Language Of Page</option>
  <option value="19">19.On Input</option>
  <option value="20">20. Text Spacing</option> 
  <option value="21">21. Consistent Identification</option>
  <option value="22">22. Images of Text</option>
  <option value="23">23. Sensory Characters</option>
  <option value="24">24. Page Title</option>
  <option value="25">25. Pointer Cancellation</option>
  <option value="26">26. Multiple Ways</option>
</select>
<label for="url">Enter an https:// URL:</label>

        <input type="url" name="url" id="url"
            placeholder="https://example.com"
            pattern="https://.*" size="30"
            required>

            <input type="Submit" value="Accessibility Scan">
        </form>
    </div>
</div>
{% endblock %}